#slider-time {
    display: flex;
    flex-direction: row;
}

#slider-time div {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

#slider-time div p {
    margin: 0;
    padding: 0;
    text-align: center;
}

#slider-time div p:nth-child(1) {
    font-weight: bold;
}

#slider-time div p:nth-child(2) {
    font-size: 0.8rem;
    font-style: italic;
}